/**/terraform.tfstate
/**/terraform.tfstate.backup
/**/.terraform.lock.hcl
/code/terraform/lambda.tfvars
/code/terraform/init.tfvars
/code/terraform/basic.zip
/code/terraform/functionurl.zip
/client/node_modules/
